# azure
azure/azcopy

# build folders
/build
/*.egg-info

# configs
config/20*

# data files
/data*/*
/logs/*

# documents
/docs

# ide files
/.vscode

# secrets
secrets/*

# test files
**/__pycache__

# virtual environments
/.venv

# .gitkeep
!**/.gitkeep
