# azure
azure/azcopy

# build folders
/build
/*.egg-info

# configs
config/20*

# data files
/data*/*
/logs/*
!**/.gitkeep

# documents
/docs

# ide files
/.vscode

# test files
**/__pycache__

# virtual environments
/.venv
