# build folders
/build
/*.egg-info

# data files
/data/*
/logs/*
/tests/*
!/tests/*.py
!**/.gitkeep

# documents
/docs

# ide files
/.vscode

# test files
**/__pycache__

# virtual environments
/.venv
